.full-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.full-nav ul{
    list-style: none;
}

.full-nav ul li{
    display: inline-block;
}

.full-nav ul li a{
    display: inline-block;
    padding: 30px;
    text-decoration: none;
}

.full-nav ul li a:hover{
    color: #007bff !important;
}

.mobile-nav{
    width: 100%;
    position: absolute;
    display: none;
}

.mobile-nav ul{
    list-style: none;
    margin: 0;
}

.mobile-nav a{
    display: block;
    padding: 20px;
}

.mobile-nav a:hover{
    background: #3493f9;
    border: 1px solid #c0dcfa !important;
    color: #ffffff !important;
    text-decoration: none;
}
.side .row .p{
    font-size: 18px;
    word-spacing: 1px;
}
.whole{
    height: 100vh;
}
.container .row .col-md-2 a{
    color: gray;
}